<!DOCTYPE html>
<html>
<head>
  <title>Privatechat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
  <script src="/javascripts/jquery.titlealert.js"></script>

   <script type="text/javascript" charset="utf-8">
   

    $(function() {
      var pusher = new Pusher('64f47e8c5e5a280bd32a');
    var presenceChannel = pusher.subscribe('presence-public-101');
      
      presenceChannel.bind('pusher:subscription_succeeded', function(members){
    
   
   
    members.each(add_member);
  });

      

  // When somebody joins, pop a note to tell the user
  presenceChannel.bind('pusher:member_added', function(member) {
     add_member(member);
      
     
  });
  
  // When somebody leaves, pop a note to tell the user
  presenceChannel.bind('pusher:member_removed', function(member) {
   $('#online_' + member.id).remove();
    scrollToTheTop();
    updateCount(-1);
  });

  $(function() {
      var pusher = new Pusher('64f47e8c5e5a280bd32a'); // Replace with your app key
      var channel = pusher.subscribe('private-'+<%= current_user ? current_user.id : 'null' %>+<%= @user ? @user.id : 'null' %>);

      
      
      channel.bind('chat', function(data) {
        msg = data.chat;
        id = data.from;
        dom_notify(msg,id);
        title_notify(msg);
        if (window.webkitNotifications) { webkit_notify(msg); }
      });
      
      // In DOM alert
      function dom_notify(msg,id) {
        $('#chat').append(id);
        $('#chat').append(":&nbsp;&nbsp;&nbsp;");
        $('#chat').append(msg);
        $('#chat').append("<br>");
        $("#new_chat")[0].reset();
      }
 
      
    
  });

function add_member(member) {
   var content
  var rand = rand = (Math.random() * 20) - 10
  var container = $("<div>", {
    
    id: "online_" + member.id
  })
  
  if(<%= user_signed_in? %>){
  if(member.id != <%= current_user.id %>){
  content = "<a href=/chats/"+member.id + ">"+member.info.email+ "</a>" 
 }
  }
  
  //$('#online').append(presenceChannel.members.count)
  $('#online').append(container.html(content))
 
      }
    });
    
      // <title> msg
      
      
      // Webkit Notifications API
      // http://www.html5rocks.com/en/tutorials/notifications/quick/
      
      // Setup permissions
      
        </script>
  
</head>
<body>

<%= yield %>
<br><br>
<% if user_signed_in? %>
<div id = "online">
  
</div>
"Welcome" <%= current_user.email %>
<%= link_to('logout',destroy_user_session_path, :method=>'delete') %>
<% else %>
Please <%= link_to('sign in', new_user_session_path) %>
<% end %>
</body>
</html>
