<!DOCTYPE html>
<html>
<head>
  <title>Privatechat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>-->    
  <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
  <script src="http://js.pusher.com/2.1/pusher.js"></script>
  <script src="/javascripts/jquery.titlealert.js"></script>
  <script src="http://js.pusher.com/2.1.1/sockjs.js"></script>

   <script type="text/javascript" charset="utf-8">
   
   



    $(function() {
      var pusher = new Pusher('aaf22ec58ddbff4643d5');
    var presenceChannel = pusher.subscribe('presence-public-101');
      
      


      presenceChannel.bind('pusher:subscription_succeeded', function(members){
   
   
   
    members.each(add_member);

  });

      

  // When somebody joins, pop a note to tell the user
  presenceChannel.bind('pusher:member_added', function(member) {
     add_member(member);
    
     
  });
  
  // When somebody leaves, pop a note to tell the user
  presenceChannel.bind('pusher:member_removed', function(member) {
   $('#online_' + member.id).remove();
   
  });

   

  function add_member(member) {
   var content
  var rand = rand = (Math.random() * 20) - 10
  var container = $("<div>", {
    
    id: "online_" + member.id
  })
  
      
  if(<%= user_signed_in? %>){
  //if(member.id != presenceChannel.members.me.id ){
  content = "<a href=/chats/"+member.id + ">"+member.info.email+ "</a>" 
// }
//}
}else{
  content=""
}
    
  
  
  
  //$('#online').append(presenceChannel.members.count)
  $('#online').append(container.html(content))
 
      }


      
    

 
      var pusher = new Pusher('aaf22ec58ddbff4643d5'); // Replace with your app key
      var channel = pusher.subscribe('private-'+<%= current_user ? current_user.id : 'null' %>+<%= @user ? @user.id : 'null' %>);

      var is_typing_currently = false;
      
      
      channel.bind('chat', function(data) {
        msg = data.chat;
        id = data.from;
        is_typing_currently = false;
        typing_status(false);
        dom_notify(msg,id);
       
        
        title_notify(msg);
        
        
      });

      channel.bind('chat1', function(data) {
        uid = data.id
        msg = data.chat;
        id = data.from;
        
        
        
        dom_notify1(msg,id,uid);
        
        title_notify(msg);
         
        if (window.webkitNotifications) { webkit_notify(msg); }
      });

      channel.bind('active', function(data) {
        to = data.to;
        uid = data.id;
        active_notify(to,uid);

      });

      channel.bind('popup', function(data) {

        msg = data.chat;
        id = data.from;
         uid = data.id;
         user_notify(msg,id,uid);
        //dom_notify1(msg,id);
        
        title_notify(msg);
        if (window.webkitNotifications) { webkit_notify(msg); }
      });

      channel.bind('typing_status', function(notification) {
        
    if(notification.id == <%= current_user ? current_user.id : 'null' %>) return false;
    if(notification.status == "true") {
      $('#activea').append('<div class="note" id="is_typing_'+ notification.id +'"><strong>' + notification.from + '</strong> is typing...</div>');
    } else {
      $('#activea #is_typing_' + notification.id).remove();
    }
    scrollToTheTop();
  });


      $('#chat_chat').keydown(function(e)
  {

    if (e.keyCode == 13) { send_message(); return false; }
  });
      var timout_function = function() {
      
    is_typing_currently = false;
    typing_status(false);
  }
  var typing_end_timeout;
  $('#chat_chat').keyup(function()
  {
   
    // Clear the timeout to stop annoying notifications coming every time you clear the field
    
    clearTimeout(typing_end_timeout);
    if($(this).val() == '' && is_typing_currently) {
      // Has stopped typing by clearing the field
      typing_end_timeout = setTimeout(timout_function, 1500);
    } else {
      // If your not currently typing then send the notification
      if(!is_typing_currently) { is_typing_currently = true; typing_status(true); }
    }
  });


  function typing_status(status) { 
  // We don't care about the response or even if the sever gets it.. nothing important!
  
  var user1 = "<%=  @user ? @user.id : 'null' %>";
  var user_current = "<%= current_user ? current_user.id : 'null' %>";
  var user_mail = "<%= current_user ? current_user.email : 'null' %>";
  
  $.post('/pusher/typing_status', {"status":status, "user":user1, "current_user":user_current, "user_mail":user_mail });
}

      
     
      
      // In DOM alert
      function dom_notify(msg,id) {
        $('#chat').append(id);
        $('#chat').append(":&nbsp;&nbsp;&nbsp;");
        $('#chat').append(msg);
        $('#chat').append("<br>");
        $("#new_chat")[0].reset();
        
      }

      function dom_notify1(msg,id,uid) {
        $('#chat').append(id);
        $('#chat').append(":&nbsp;&nbsp;&nbsp;");
        $('#chat').append(msg);
        $('#chat').append("<br>");
       
        
      }

      function active_notify(to,uid){
        $('p#activea').append("is typing");
      }

      function user_notify(msg,id,uid) {
        
        $('#online_'+uid).empty();
         var name = "<a href=/chats/"+uid + ">"+id+ "</a>"; 
         $('#online_'+uid).append(name);
         var content = " sent you a message";
         $('#online_'+uid).append(content);
      }

     


 

      var pusher = new Pusher('aaf22ec58ddbff4643d5');
      var channel1 = pusher.subscribe('normal-'+<%= current_user ? current_user.id : 'null' %>);

      channel1.bind('popup', function(data) {

        msg = data.chat;
        id = data.from;
         uid = data.id;
         user_notify(msg,id,uid);
        //dom_notify1(msg,id);
        
        title_notify(msg);
        if (window.webkitNotifications) { webkit_notify(msg); }
      });
    
  });


    
      // <title> msg
      
      
      // Webkit Notifications API
      // http://www.html5rocks.com/en/tutorials/notifications/quick/
      
      // Setup permissions
      
        </script>
  
</head>
<body>
<%= yield %>
<br><br>
<% if user_signed_in? %>
<div id = "online">
  
</div>
"Welcome" <%= current_user.email %>
<%= link_to('logout',destroy_user_session_path, :method=>'delete') %>
<% else %>
Please <%= link_to('sign in', new_user_session_path) %>
<% end %>
</body>
</html>
