<!DOCTYPE html>
<html>
<head>
  <title>Privatechat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
  <script src="/javascripts/jquery.titlealert.js"></script>

   <script type="text/javascript" charset="utf-8">
   

    $(function() {
      var pusher = new Pusher('64f47e8c5e5a280bd32a');
    var presenceChannel = pusher.subscribe('presence-public-101');
      
      presenceChannel.bind('pusher:subscription_succeeded', function(member_list){
    updateCount(member_list.count);
    members.each(function(member) {
     add_member(member.id, member.info);
    });
  });

      presenceChannel.bind('online', function(data) {
        email = data.email
        users = presenceChannel.members;
        presenceChannel.members.each(function(member){
           $('#online').append(member.info.email);
        });
        $('#online').append(data.email);
      });

  // When somebody joins, pop a note to tell the user
  presenceChannel.bind('pusher:member_added', function(member) {
     add_member(member.id, member.info);
     
  });
  
  // When somebody leaves, pop a note to tell the user
  presenceChannel.bind('pusher:member_removed', function(member) {
   remove_member(member.id, member.info);
    scrollToTheTop();
    updateCount(-1);
  });

 
      
    });
    
      // <title> msg
      
      
      // Webkit Notifications API
      // http://www.html5rocks.com/en/tutorials/notifications/quick/
      
      // Setup permissions
      
        </script>
  
</head>
<body>

<%= yield %>
<br><br>
<% if user_signed_in? %>
<div id = "online">
  
</div>
"Welcome" <%= current_user.email %>
<%= link_to('logout',destroy_user_session_path, :method=>'delete') %>
<% else %>
Please <%= link_to('sign in', new_user_session_path) %>
<% end %>
</body>
</html>
